@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.timeline {
  list-style-type: none;
  margin: 4em auto;
  position: relative;
  max-width:46em;
  --before-top: 2em;
}

.timeline:before {
  background-color:black;
  content: '';
  margin-left: -1px;
  position: absolute;
  top: var(--before-top);
  left: 2em;
  width: 2px;
  height: 100%;
  transition: top .2s ease-in;
}

.timeline-event {
  position: relative;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 0em;
  width: 80%;
}

.timeline-event-copy h3 {
  font-size: 1.75em;
  font-weight: 1;
}

.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
  font-weight: 1;
}

.timeline-event-copy strong {
  font-weight: 700;
}


.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom:1.2em;
}

.timeline-event-icon {
  background-color: black;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: 0;
  left: -.5em;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  transition: transform .2s ease-in, background-color .4s ease-in;
}

.timeline-event-icon:hover {
  transform: rotate(0deg);
  background-color: red;
  transition: transform .2s ease-in, background-color .4s ease-in;
}

.timeline-event-icon:hover + #about{
  background:red;
}

.timeline-event-thumbnail {
  background:black;
  background: linear-gradient(90deg, rgba(189,0,0,1) 40%, rgba(255,154,35,1) 50%, rgba(0,0,0,1) 60%) right;
  background-size:300%;
  color: white;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  cursor: default;
  transition: .4s ease-in;
  position: relative;
  top: -.85em;
}

.timeline-event-thumbnail:hover {
  background-position: left;
}
